<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="aside(site)">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        <img th:src="@{/img/favicon.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Coffee Store</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img th:src="@{/img/icon/admin.jpg}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block" sec:authentication="name"></a>
                <a href="" id="userRoles"  th:utext="*{#strings.substring(#strings.toLowerCase(user.Roles),6,#strings.length(user.Roles)-1)}" hidden></a>
                <a href="" id="userBranches" th:utext="${user.branches.id}" hidden></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item ">
                    <a href="/admin" class="nav-link" th:classappend="${site} == 'dashboard' ? 'active' : ''">
                        <i class="nav-icon fas fa-tachometer-alt" ></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/employees" class="nav-link" th:classappend="${site} == 'employees' ? 'active' : ''">
                        <i class="nav-icon fa-solid fa-clipboard-user"></i>  
                        <p>Nhân viên</p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a href="/admin/products" class="nav-link" th:classappend="${site} == 'products' ? 'active' : ''">
                        <i class="nav-icon fa-brands fa-product-hunt"></i>    
                        <p>Sản phẩm </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/orders" class="nav-link"  th:classappend="${site} == 'orders' ? 'active' : ''">
                        <i class="nav-icon fa-solid fa-money-bill"></i>
                        <p>Hóa đơn</p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')" >
                    <a href="/admin/categories" class="nav-link"  th:classappend="${site} == 'categories' ? 'active' : ''">
                        <i class="nav-icon fas fa-table"></i>
                            <p>Thể loại</p>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')" >
                    <a href="/admin/branches" class="nav-link"  th:classappend="${site} == 'branches' ? 'active' : ''">
                        <i class="nav-icon fa-solid fa-code-branch"></i>
                                                <p>Chi nhánh</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/tags" class="nav-link"  th:classappend="${site} == 'tags' ? 'active' : ''">
                        <i class="nav-icon fa-solid fa-tag"></i>
                        <p>Thẻ</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/customers" class="nav-link"  th:classappend="${site} == 'customers' ? 'active' : ''">
                        <i class="nav-icon fas fa-thumbs-up"></i>
                        <p>Khách hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">
                        <i class="nav-icon fa-solid fa-right-from-bracket"></i>
                        <p>Đăng xuất</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>