html,
body {
    height: 100%;
}

aside {
    display: block;
    background-color: hsl(210deg 8% 20%);
    overflow-y: auto;
}

aside #aside-header {
    height: 35px;
    margin-top: 25px;
    padding-left: 15px;
    border-bottom: 1px solid gray;
}

aside #aside-body {
    padding-left: 15px;

}

.nav-link {
    color: white;
    font-weight: bold;
    text-align: start;
    margin-top: 15px;
}

.nav-link:hover {
    color: burlywood;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {

    background-color: burlywood;
}
header {
    height: 60px;
}