<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head.html :: head(${title})}"></head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav th:replace="~{/fragments/admin-nav.html}"></nav>
        <!--Aside-->
        <aside th:replace="~{fragments/admin-aside.html :: aside('orders')}"></aside>
        <!--Main-->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div th:replace="~{fragments/content-header.html :: contentHeader('Orders','Orders')}"></div>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-success" data-bs-toggle="modal" id="button-add-order"
                            data-bs-target="#addStaticBackdrop">Thêm
                            hóa đơn</button>
                        <div class="d-flex w-50 justify-content-between">
                            <select name="" class="form-control dropdown w-25" id="select-branch" sec:authorize="hasRole('ADMIN')">
                                <option th:value="${branch.id}" th:each="branch: ${branches}" th:utext="${branch.name}"></option>
                            </select>
                            <input type="text" id="search-order" placeholder="Tìm kiếm ... " class="form-control">
                        </div>

                    </div>
                    <div class="table-responsive-sm">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên</th>
                                    <th>Chi nhánh</th>
                                    <th>Tình trạng</th>
                                    <th>Xử lý</th>
                                </tr>
                            </thead>
                            <tbody id="list-orders">
                            </tbody>
                        </table>
                        <nav>
                            <ul id="pagination" class="pagination justify-content-end"></ul>
                        </nav>
                    </div>
                </div>
            </section>

            <!-- Add Modal -->
            <div class="modal fade" id="addStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="addStaticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <form class="m-auto w-100" id="add-form">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addStaticBackdropLabel">Thêm hóa đơn</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                   
                                <div class="row">
                                    <div class="col">
                                        <label for="" sec:authorize="hasRole('ADMIN')">Chi nhánh: </label>
                                        <input type="text" readonly th:value="${user.branches.id}" id="add-order-branch" sec:authorize="hasRole('MANAGER')" hidden class="form-control">
                                        <select name="" class="form-control dropdown " id="add-order-branch" sec:authorize="hasRole('ADMIN')">
                                            <option th:value="${branch.id}" th:each="branch: ${branches}" th:utext="${branch.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                        <label for=""> Thẻ</label>
                                        <select class="form-control" size="5" id="add-order-tag">

                                        </select>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                          <label for=""> Số điện thoại khách hàng:</label>
                                          <input type="tel" class="form-control"    >
                                    </div>
                                  </div>
                                  <div > 
                                        <label for="">Sản phẩm</label>
                                        <div  class="row " >
                                            <div class="col-4" th:each ="product: ${products}">
                                                <div class="card ">
                                                    <img th:src="'/img/upload/'+${product.image}" class="rounded card-img-top "  alt="">
                                                    <div class="card-body">
                                                        <h3 class="card-title fw-bold" th:id="'product-name-'+${product.id}" th:utext="${product.name}"></h3>
                                                        <p th:id="'product-price-'+${product.id}" class="card-text"  th:utext="${product.price}"></p>
                                                        <div class="d-flex justify-content-between">
                                                            <label for="" class="form-text">Số lượng</label>
                                                            <input type="number" min="0" value ="0" class="form-control w-75 add-order-product" th:id="${product.id}" > 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          

                                        </div>
                      
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                          <label for=""> Ghi chú:</label>
                                          <textarea name=""  class="form-control" id="add-order-description" cols="30" rows="5"></textarea>
                                    </div>
                                  </div>
                                <table class="table">
                                    <thead>
                                        <th>#</th>
                                        <th>Tên món</th>
                                        <th>Giá tiền</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                    </thead>
                                    <tbody id="orders-temp-list">

                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col" id="add-alert">

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-success">Thêm hóa đơn</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Update Modal -->
            <div class="modal fade" id="updateStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="updateStaticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="m-auto w-100" id="update-form">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addStaticBackdropLabel">Chỉnh sửa hóa đơn</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                        <label for="">Tên: </label>
                                        <input type="text" id="update-order-name" class="form-control" required>
                                        <input type="text" value="" id="update-order-id" hidden>

                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col">
                                        <label for="">Trạng thái: </label>
                                        <select name="" class="form-control" id="update-order-status">
                                            <option value="Trống">Trống</option>
                                            <option value="Đang sử dụng">Đang sử dụng</option>
                                        </select>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col" id="update-alert">

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-info">Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Delete Modal -->
            <div class="modal fade" id="deleteStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="deleteStaticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="m-auto">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteStaticBackdropLabel">Xác nhận xóa hóa đơn</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label id="delete-modal-message"></label>
                                <input type="text" id="delete-order-id" hidden>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                    id="btn-delete">Xóa</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="~{/fragments/script.html}"></script>
    <script th:src="@{/js/admin-orders.js}"></script>
</body>

</html>