<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head.html :: head(${title})}"></head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav th:replace="~{fragments/admin-nav.html}"></nav>
        <!--Aside-->
        <aside th:replace="~{fragments/admin-aside.html :: aside('employees')}"></aside>
        <!--Main-->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div th:replace="~{fragments/content-header.html :: contentHeader('Employees','Employees')}"></div>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addStaticBackdrop">Thêm
                            nhân viên</button>
                        <input type="text" id="search-employee" placeholder="Tìm kiếm ... " class="form-control w-25">
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên</th>
                                    <th>Email</th>
                                    <th>SĐT</th>
                                    <th>Giới tính</th>
                                    <th>Năm sinh</th>
                                    <th>Địa chỉ</th>
                                    <th>Chức vụ</th>
                                    <th>Chi nhánh</th>
                                    <th>Xử lý</th>
                                </tr>
                            </thead>
                            <tbody id="list-employees">
                            </tbody>
                        </table>
                        <nav>
                            <ul id="pagination" class="pagination justify-content-end"></ul>
                        </nav>
                    </div>
                </div>
            </section>

            <!-- Add Modal -->
            <div class="modal fade" id="addStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="addStaticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="m-auto" id="add-form">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addStaticBackdropLabel" >Thêm nhân viên</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                        <label for="">Họ tên: </label>
                                        <input type="text" id="add-user-name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="">Email: </label>
                                        <input type="email"  id="add-user-email"  class="form-control" required>
                                    </div>
                                    <div class="col">
                                        <label for="">Mật khẩu: </label>
                                        <input type="password"  id="add-user-password"  minlength="6" class="form-control" required >
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="">Địa chỉ: </label>
                                        <input type="text"  id="add-user-address"  class="form-control" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="">Giới tính: </label>
                                        <select class="form-control"  id="add-user-gender" required>
                                            <option value="Nam">Nam</option>
                                            <option value="Nữ">Nữ</option>
                                            <option value="Khác">Khác</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="">Ngày sinh: </label>
                                        <input type="date" class="form-control"  id="add-user-birthday" required>
                                    </div>
                                    <div class="col">
                                        <label for="">Chức vụ: </label>
                                        <select class="form-control"   id="add-user-role" required >
                                            <option sec:authorize="hasRole('ADMIN')" value="manager">Quản lý</option>
                                            <option value="employee">Nhân viên</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="">Số điện thoại: </label>
                                        <input type="tel" id="add-user-telephone"  class="form-control" required>
                                    </div>
                                    <div class="col">
                                        <label for="" sec:authorize="hasRole('ADMIN')">Chi nhánh: </label>
                                        <input type="text" class="form-control" sec:authorize="hasRole('MANAGER')"  id="add-user-branch"  th:value="${user.branches.id}" required hidden>
                                        <select class="form-control"  sec:authorize="hasRole('ADMIN')" id="add-user-branch" required >
                                       
                                            <option th:value="${branch.id}" th:utext="${branch.name}"  th:each="branch : ${branches}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" id="add-alert">
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-success"  >Thêm nhân viên</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Update Modal -->
            <div class="modal fade" id="updateStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="updateStaticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="m-auto" id="update-form">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateStaticBackdropLabel">Cập nhật thông tin nhân viên</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                        <label for="">Họ tên: </label>
                                        <input type="text" class="form-control" id="update-user-name" required>
                                        <input type="text" value="" id="update-user-id" hidden>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="">Email: </label>
                                        <input type="email" class="form-control"   id="update-user-email" required>
                                    </div>
                                    <div class="col">
                                        <label for="">Đổi Mật khẩu: </label>
                                        <input type="password" class="form-control" id="update-user-password" >
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="">Địa chỉ: </label>
                                        <input type="text" class="form-control" id="update-user-address" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="">Giới tính: </label>
                                        <select class="form-control" id="update-user-gender">
                                            <option value="Nam">Nam</option>
                                            <option value="Nữ">Nữ</option>
                                            <option value="Khác">Khác</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="">Ngày sinh: </label>
                                        <input type="date" class="form-control" id="update-user-birthday" required>
                                    </div>
                                    <div class="col">
                                        <label for="">Chức vụ: </label>
                                        <select class="form-control" id="update-user-role">
                                            <option sec:authorize="hasRole('ADMIN')" value="manager">Quản lý</option>
                                            <option value="employee">Nhân viên</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="">Số điện thoại: </label>
                                        <input type="tel" class="form-control" id="update-user-telephone" required>
                                    </div>
                                    <div class="col">
                                        <label for="" sec:authorize="hasRole('ADMIN')">Chi nhánh: </label>
                                        <input type="text" class="form-control" sec:authorize="hasRole('MANAGER')" id="update-user-branch"  th:value="${user.branches.id}"  hidden>
                                        <select class="form-control"  sec:authorize="hasRole('ADMIN')" id="update-user-branch" required >
                                            <option th:value="${branch.id}" th:utext="${branch.name}"  th:each="branch : ${branches}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" id="update-alert">
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-info" data-bs-dismiss="modal" >Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Delete Modal -->
            <div class="modal fade" id="deleteStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="deleteStaticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="m-auto">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteStaticBackdropLabel">Xác nhận xóa nhân viên</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                               <label id="delete-modal-message"></label>
                               <input type="text"  id="delete-employee-id" hidden>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="btn-delete">Xóa</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="~{/fragments/script.html}"></script>
    <script th:src="@{/js/admin-employees.js}"></script>
</body>

</html>