<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head.html :: head(${title})}"></head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav th:replace="~{/fragments/admin-nav.html}"></nav>
        <!--Aside-->
        <aside th:replace="~{fragments/admin-aside.html :: aside('branches')}"></aside>
        <!--Main-->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div th:replace="~{fragments/content-header.html :: contentHeader('Branches','Branches')}"></div>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-success" data-bs-toggle="modal" id ="button-add-branch" data-bs-target="#addStaticBackdrop">Thêm
                            chi nhánh</button>
                        <input type="text" id="search-branch" placeholder="Tìm kiếm ... " class="form-control w-25">
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tên</th>
                                    <th>Địa chỉ</th>
                                    <th>Mô tả</th>
                                    <th>Xử lý</th>
                                </tr>
                            </thead>
                            <tbody id="list-branches">
                            </tbody>
                        </table>
                        <nav>
                            <ul id="pagination" class="pagination justify-content-end"></ul>
                        </nav>
                    </div>
                </div>
            </section>

            <!-- Add Modal -->
            <div class="modal fade" id="addStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="addStaticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form class="m-auto w-100" id="add-form">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addStaticBackdropLabel">Thêm chi nhánh</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                        <label for="">Tên: </label>
                                        <input type="text" id="add-branch-name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="">Địa chỉ: </label>
                                        <input type="text" id="add-branch-address" class="form-control" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="">Mô tả: </label>
                                        <textarea name="" id="add-branch-description" class="form-control" cols="30"
                                            rows="3"></textarea>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col" id="add-alert">

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-success">Thêm chi nhánh</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Update Modal -->
            <div class="modal fade" id="updateStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="updateStaticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="m-auto w-100" id="update-form">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addStaticBackdropLabel">Chỉnh sửa chi nhánh</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                        <label for="">Tên: </label>
                                        <input type="text" id="update-branch-name" class="form-control" required>
                                        <input type="text" value="" id="update-branch-id" hidden>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="">Địa chỉ: </label>
                                        <input type="text" id="update-branch-address" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="">Mô tả: </label>
                                        <textarea name="" id="update-branch-description" class="form-control" cols="30"
                                            rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col" id="update-alert">

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-info" >Cập nhật</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Delete Modal -->
            <div class="modal fade" id="deleteStaticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="deleteStaticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="m-auto">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteStaticBackdropLabel">Xác nhận xóa chi nhánh</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label id="delete-modal-message"></label>
                                <input type="text" id="delete-branch-id" hidden>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                    id="btn-delete">Xóa</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="~{/fragments/script.html}"></script>
    <script th:src="@{/js/admin-branches.js}"></script>
</body>

</html>