/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

:root {
    --main-background: #FFC1CC;
    --form-background: #F3B6B9;
    --table-color: #E3A5B0;
    --brown-text-color: #6B402D;
    --gray-color: #D9D9D9;
    --footer-color: #D598A3;
}

/* Begin: Button */
.pink-btn {
    background-color: #F37289;
    color: #6B402D;
}

.red-btn {
    background-color: #DE3163;
    color: black;
}

.blue-btn {
    background-color: #89CFF0;
    color: black;
}

.yellow-btn {
    background-color: #FFD580;
    color: black;
}

.green-btn {
    background-color: #90EE90;
    color: black;
}

.orange-btn {
    background-color: #E97451;
    color: black;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    opacity: 0.4;
}
/* End: Button */

/* Begin: Text */
.brown-text {
    color: #6B402D;
}

.green-text {
    color: #50C878;
}

.blue-text {
    color: #00FFFF;
}
/* End: Text */

/* Begin: Input */
.gray-input {
    background-color: #D9D9D9;
    color: black;
}

.white-input {
    background-color: white;
    color: black;
}
/* End: Input */

/* Begin: Table */
.row {
    margin-left: 24px;
    margin-right: 24px;
}

.col {
    float: left;
}

.col::after {
    clear: both;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.3333%;
}

.col-6 {
    width: 16.6666%;
}
/* End: Table */

.pull-right {
    float: right;
}

.footer-class {
    background-color: #D598A3;
}

.clear {
    clear: both;
}

/* ---------------------------------------- */

body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 75% 10%;
}

/* Begin: Heading */
.heading {
    height: 100%;
    width: 100%;
    background-color: var(--main-background);
}

.logo {
    height: 100%;
}
/* End: Heading */

/* Begin: Content */
.content {
    height: 100%;
    width: 100%;
    background-color: var(--main-background);
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Begin: Slogan */
.slogan {
    height: 100%;
    width: 100%;
}

.slogan-container {
    position: relative;
    font-size: 48px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    margin: auto;
    top: 40%;
    transform: translateY(-50%);
    cursor: default;
}

.slogan-container a {
    text-decoration: none;
    cursor: default;
}
/* Eend: Slogan */

/* Begin: Form */
.form-container {
    position: relative;
    height: 65%;
    width: 60%;
    background-color: var(--form-background);
    margin: 0 20%;
    top: 45%;
    transform: translateY(-50%);
    font-size: 24px;
    padding-top: 5%;
}

.sent,
.send-btn,
.send-btn-disabled,
.login-btn {
    width: fit-content;
    display: block;
    margin: 0 auto;
    font-size: 24px;
}

.username,
.email {
    display: block;
    color: var(--brown-text-color);
    width: 80%;
    margin: 0 10%;
}

.ip {
    background-color: var(--form-background);
    border: 1px solid var(--brown-text-color);
    font-size: 24px;
    border-radius: 0.4rem;
    padding: 10px 10px;
    margin-top: 2%;
}

.username-ip {
    margin-bottom: 5%;
}

.form-container .btn {
    width: 60%;
    text-align: center;
    margin-top: 5%;
    padding: 2% 0;
    border: none;
    border-radius: 0.8rem;
    text-decoration: none;
}

.send-btn.clicked {
    display: none;
}

.send-btn-disabled {
    display: none;
    width: 60%;
    text-align: center;
    margin-top: 5%;
    padding: 2% 0;
    border: none;
    border-radius: 0.8rem;
    text-decoration: none;
    background-color: lightgray;
    cursor: default;
}

.send-btn-disabled:hover {
    opacity: 1;
}

.send-btn-disabled.appear {
    display: block;
}

.sent {
    font-size: 20px;
    color: var(--brown-text-color);
    margin-top: 2%;
    display: none;
    cursor: default;
}

.sent.clicked {
    display: block;
}
/* End: Form */
/* End: Content */

/* Begin: Footing */
.footing {
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0;
    background-color: var(--footer-color);
}

.fb {
    float: right;
}

#about-us-btn,
#contact-btn,
#fb-btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: lighter;
}

#fb-btn {
    float: right;
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 5px;
    text-decoration: none;
}

#fb-logo {
    width: 100%;
    margin: auto;
}

#fb-text {
    padding-right: 150px;
    margin: auto;
}

#about-us-btn,
#contact-btn {
    font-size: 30px;
    text-decoration: none;
    margin: auto;
}

#about-us-btn {
    padding: 0 50px;
    margin-left: 150px;
}

#contact-btn {
    margin-left: 100px;
}
/* End: Footing */